.height-body {
    height: auto;
    min-height: 100vh;
}
.login-body {
    background-size: 100%,100%;
}
.login-color {
    background-color: rgba(253,155,0,0.4);
}
.login-panel {
    margin-top: 30%;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 50%;
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
}
.logo-segment {
    margin-bottom: 20%;
    margin-left: 40px;
}
.logo-title {
    margin-top: -40px;
}
btn-block {
    width: 50%;
    margin-bottom: 20px;
}
