.height-body {
    height: auto;
    min-height: 100vh;
}
.logo-login{
    margin-left: 52px;
}
.login-body {
    background-size: 100%,100%;
}
/*.login-color {*/
    /*background-color: rgba(253,155,0,0.4);*/
/*}*/
.login-panel {
    margin-top: 30%;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 65% !important;
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4) !important;
    border-color: transparent !important;
}
.logo-segment {
    margin-bottom: 20%;
    margin-left: 52px;
}
.logo-title {
    /*margin-top: -40px;*/
    margin-left: 60px;
}
.btn-block {
    width: 50%;
    margin-bottom: 20px;
}
.form-fix{
    margin-top: -25px;
}
