.food1 img {
    height: 235px;
    width: 100%;
}
#content .product .text h3 a{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.wthreeshop-a {
    margin-top: 30px;
    padding-bottom: 10px;
}
.wthreeshop-a a {
    padding: 10px 50px;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.product-img{
    height: 620px;
    width: 100%;
}
.ribbon{
    z-index:0 !important;
}
.img-about{
    height:355px;
    width:100%;
}
.box-height{
    height:400px;
}
.product-color img{
    height:240px;
}
.product-color{
    height: 240px!important;
}
/*.product-color img{*/
    /*height: 238px;*/
/*}*/
.same-height{
    height: 415px;
}
.height-same{
    height: 600px;
}
.about-background{
    margin-bottom: 40px;
}
.price ul li {
    font-size: 16px;
    line-height: 40px;
    display: block;
    color: #000;
}
.lead1{
    white-space: nowrap;
    /*width: 17em;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.lead2{
    white-space: nowrap;
    /*width: 21em;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainImage-height{
    height: 597px;
}
.price ul li:nth-child(1) {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.pannel-tab .panel-heading {
    padding: 15px;
    border: none;
    color: #FFF;
    border-radius: 0;
}
.quote1{
    padding: 0 !important;
}
.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /*background: rgba(0, 0, 0, 0.75);*/
}
.thumb{
    height: 167px;
}
.img-thumb{
    height: 163px;
}
.middle1 {
    position: absolute;
    top: 20%;
    left: -75px;
    background: rgba(255, 255, 255, 0.22);
    width:50%;
    word-break: keep-all;
}
.agileinfonewsl {
    /*background-image: url("../../imagess/yamsaa/newsletter.jpg");*/
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 600px;
    width: 1110px;
}
.text1 {

    font-family: 'Sintony', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 16px 32px;
}
/*#content{*/
    /*padding-top: 110px;*/
/*}*/
.product-height{
    height: 372px;
}
.flip-height{
    height: 241px;
}
.all{
    padding: 70px;
}
.menu2 {
    /*height:2em;*/
    /*position:absolute;*/
    width:100%;
    z-index: 6;
}
.fixed {
    position:fixed;
    top:0;
}
.product:hover{
    box-shadow: 0 0 5px #888888;
}
.front-img{
    height: 360px;
    width: 539px;
}
#content .product .text del.del-price{
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
/*.sildeshow1{*/
    /*height: 317px;*/
/*}*/
.panel-heading a{
    color:#FFFFFF;
    outline:0 !important;
    text-decoration: none;
}
.panel-heading a:focus a:hover a:active{
    color:#FFFFFF;
    outline: 0 !important;
    text-decoration: none;
}
.w3lsshoesaits-info h3 {
    font-size: 50px;
    color: #FFF;
    text-shadow: 3px 3px #c41228;
}
.w3lsshoesaits-info p {
    width: 50%;
    line-height: 25px;
    color: #FFF;
    margin: 30px auto;
}
.img-texts{
    position: relative;
    height: 500px;
    width: 100%;
}
.w3lsshoesaits-info{
    position: absolute;
    top: 20%;
    text-align: center;
    left: 10%;
}
.height-img{
    height: 500px;
}
.quote img{
    height:600px;
    width: 525px;
}
.agilenwew3lsfashions {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
    text-align: center;
    color: #FFF;
}
.coverUp img {
    height: 520px;
    width: 1108px;
}
.about-product{
    height: 857px;
}
.food1-img{
    width: 100%;
}
.contact-img{
    width: 100%;
    height: 390px;
}
.contact-email{
    word-break: break-all;
}
.name4{
    width: 32% !important;
    border-radius: 0px !important;
    float: left;
    margin-left: 50px;
}
.smallAbout img{
    height: 198px;
    width:262px;
}
.product img{
width: 360px;
}
@media screen and (max-width:280px){
    .product-color img{
        height:210px!important;
    }
    .smallAbout img{
        height: 198px!important;
        width:295px!important;
    }
    .product-color{
        height: 210px!important;
    }
    .wthreeshop-a a {
        padding: 1px 2px!important;
        border: 1px solid #FFF !important;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
    }
    /*#content {*/
    /*padding-top: 115px;*/
    /*}*/
    .box-height{
        height: 480px;
    }
    .text1{
        padding: 6px 9px;
    }
    .price ul li:nth-child(1) {
        font-size: 15px!important;
    }
    .mainImage-coverDown{
        height:355px;
        width: 100%;
    }
    .lead1{
        font-size:10px !important;
        margin-top: -20%!important;
        margin-bottom: -20px!important;
    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top: 29% !important;
        left: 74px !important;
        height: 59px!important;
        width: 50%!important;
    }
    .shop-button{
        margin-top:0px !important;
    }
    .sildeshow1{
        height: auto;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;
    }
    .imgage-nomargin{
        height: 86px;
    }
    .agileinfonewsl{
        width: 255px!important;
        height:265px!important;
    }
    .coverUp img{
        height: 120px !important;
        width: 260px !important;

    }
    .coverDown img{
        height: 120px !important;
        width: 260px !important;
    }
    .food1 img {
        height: 300px!important;
    }
    .product-img{
        height: 390px;
    }
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 360px !important;
    }
    .height-same{
        height: 450px;
    }
    .product-height {
        height: 435px;
    }
    .wthreeshop-a a{
        font-size: 7px;
    }
    .wthreeshop-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0px;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }
    .height-img{
        height: 200px;
    }
    .img-texts{
        height: 200px;
    }
    .about-product{
        height: 645px;
    }
    .text-margin{
        margin-top: -50px;
    }
    .mainImage-height {
        height: 355px!important;
        width: 100%;
    }

    .thumb{
        height:110px;
    }
    .img-thumb{
        height:106px;
    }


    .sub-flipperHeight{
        height:225px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 55%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:281px) and (max-width:320px){
    .product-color img{
        height:210px!important;
    }
    .smallAbout img{
        height: 198px!important;
        width:295px!important;
    }
    .product-color{
        height: 210px!important;
    }
    .wthreeshop-a a {
        padding: 1px 2px!important;
        border: 1px solid #FFF !important;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
    }
    /*#content {*/
        /*padding-top: 115px;*/
    /*}*/
    .box-height{
        height: 480px;
    }
    .text1{
        padding: 6px 9px;
    }
    .price ul li:nth-child(1) {
        font-size: 15px!important;
    }
    .mainImage-coverDown{
        height:355px;
        width: 100%;
    }
    .lead1{
        font-size:10px !important;
        margin-top: -20%!important;
        margin-bottom: -20px!important;
    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top: 29% !important;
        left: 74px !important;
        height: 59px!important;
        width: 50%!important;
    }
    .shop-button{
        margin-top:0px !important;
    }
    .sildeshow1{
        height: auto;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;
    }
    .imgage-nomargin{
        height: 86px;
    }
    .agileinfonewsl{
        width: 290px!important;
        height:300px!important;
    }
    .coverUp img{
        height: 120px !important;
        width: 260px !important;

    }
    .coverDown img{
        height: 120px !important;
        width: 260px !important;
    }
    .food1 img {
        height: 300px!important;
    }
    .product-img{
        height: 390px;
    }
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 360px !important;
    }
    .height-same{
        height: 450px;
    }
    .product-height {
        height: 435px;
    }
    .wthreeshop-a a{
        font-size: 7px;
    }
    .wthreeshop-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0px;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }
    .height-img{
        height: 200px;
    }
    .img-texts{
        height: 200px;
    }
    .about-product{
        height: 645px;
    }
    .text-margin{
        margin-top: -50px;
    }
    .mainImage-height {
        height: 355px!important;
        width: 100%;
    }

    .thumb{
        height:110px;
    }
    .img-thumb{
        height:106px;
    }


    .sub-flipperHeight{
        height:225px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 55%;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 321px) and (max-width:360px){
    .img-texts{
        height: 142px!important;
    }
    .height-img{
        height: 142px!important;

    }
    .product-color img{
        height:260px!important;
    }
    .product-color{
        height:260px!important;

    }
    .smallAbout img{
        height: 210px!important;
        width:370px!important;
    }
    .wthreeshop-a {
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .sildeshow1 {
        height: 120px;
    }
    .wthreeshop-a a{
        padding: 0 !important;
        font-size:5px;
    }
    .mainImage-height {
        height: 545px!important;
        width: 100%;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .text1{
        padding: -1px 9px;
    }
    .middle1{
        top: 29% !important;
        left: 74px !important;
        height: 59px!important;
        width: 50%!important;
    }

    .box-height{
        height: 460px!important;
    }
    .product-img{
        height: 450px!important;
    }
    .lead1{
        font-size:10px !important;
        margin-top: -40%!important;
        margin-bottom: -20px!important;
    }
    .lead2{
        font-size: 8px!important;
    }


    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100% !important;
        height:300px!important;
    }
    .coverUp img{
        width: 420px !important;
        height: 165px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }
    /*.food1 img {*/
        /*height: 300px!important;*/
    /*}*/
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 415px !important;
    }
    .height-same{
        height: 450px;
    }
    .button-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }

    .about-product {
        height: 700px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 47% !important;
        border-radius: 0px !important;
        float: left;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .food1 img {
        height: 400px!important;
    }
    .product-height{
        height: 550px!important;
    }
}
@media screen and (min-width: 361px) and (max-width:411px){
    .img-texts{
        height: 142px!important;
    }
    .height-img{
        height: 142px!important;

    }
    .product-color img{
        height:260px!important;
    }
    .product-color{
        height:260px!important;

    }
    .smallAbout img{
        height: 210px!important;
        width:370px!important;
    }
    .wthreeshop-a {
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .wthreeshop-a a{
        padding: 0 !important;
        font-size:5px;
    }
    .mainImage-height {
        height: 545px!important;
        width: 100%;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .text1{
        padding: -1px 9px;
    }
    .middle1{
        top: 29% !important;
        left: 82px !important;
        height: 59px!important;
        width: 50%!important;
    }

    .box-height{
        height: 460px!important;
    }
    .product-img{
        height: 450px!important;
    }
    .lead1{
        font-size:10px !important;
        margin-top: -40%!important;
        margin-bottom: -20px!important;
    }
    .lead2{
        font-size: 8px!important;
    }


    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100% !important;
        height:300px!important;
    }
    .coverUp img{
        width: 420px !important;
        height: 165px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }
    /*.food1 img {*/
    /*height: 300px!important;*/
    /*}*/
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 415px !important;
    }
    .height-same{
        height: 450px;
    }
    .button-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }

    .about-product {
        height: 700px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 47% !important;
        border-radius: 0px !important;
        float: left;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .food1 img {
        height: 400px!important;
    }
    .product-height{
        height: 550px!important;
    }
}

@media screen and (min-width: 412px) and (max-width:413px){
    .img-texts{
        height: 142px!important;
    }
    .height-img{
        height: 142px!important;

    }
    .product-color img{
        height:300px!important;
    }
    .product-color{
        height:300px!important;

    }
    .smallAbout img{
        height: 230px!important;
        width:400px!important;
    }
    .wthreeshop-a {
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .sildeshow1 {
        height: 120px;
    }
    .wthreeshop-a a{
        padding: 0 !important;
        font-size:5px;
    }
    .mainImage-height {
        height: 545px!important;
        width: 100%;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .text1{
        padding: -1px 9px;
    }
    .middle1{
        top: 29% !important;
        left: 99px !important;
        height: 75px!important;
        width: 50%!important;
    }

    .box-height{
        height: 460px!important;
    }
    .product-img{
        height: 450px!important;
    }
    .lead1{
        font-size:8px !important;
        margin-top: -24%!important;
        margin-bottom: -20px!important;
    }
    .lead2{
        font-size: 8px!important;
    }


    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100% !important;
        height:300px!important;
    }
    .coverUp img{
        width: 420px !important;
        height: 165px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }
    /*.food1 img {*/
    /*height: 300px!important;*/
    /*}*/
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 450px !important;
    }
    .height-same{
        height: 450px!important;
    }
    .button-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }

    .about-product {
        height: 700px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 47% !important;
        border-radius: 0px !important;
        float: left;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .food1 img {
        height: 400px!important;
    }
    .product-height{
        height: 550px!important;
    }
}

@media screen and (min-width: 414px) and (max-width:480px){
    .img-texts{
        height: 142px!important;
    }
    .height-img{
        height: 142px!important;

    }
    .product-color img{
        height:260px!important;
    }
    .product-color{
        height:260px!important;

    }
    .smallAbout img{
        height: 360px!important;
        width:450px!important;
    }
    .wthreeshop-a {
        margin-top: -20px;
        padding-bottom: 10px;
    }

    .wthreeshop-a a{
        padding: 0 !important;
        font-size:5px;
    }
    .mainImage-height {
        height: 545px!important;
        width: 100%;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .text1{
        padding: -1px 9px;
    }
    .middle1{
        top: 38% !important;
        left: 115px !important;
        height: 70px!important;
        width: 47%!important;
    }

    .box-height{
        height: 460px!important;
    }
    .product-img{
        height: 450px!important;
    }
    .lead1{
        font-size:8px !important;
        margin-top: -22%!important;
        margin-bottom: -19px!important;
    }
    .lead2{
        font-size: 8px!important;
    }


    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100% !important;
        height:300px!important;
    }
    .coverUp img{
        width: 420px !important;
        height: 165px !important;

    }
    .coverDown img{
        height: 290px !important;
        width: 450px !important;
    }
    /*.food1 img {*/
    /*height: 300px!important;*/
    /*}*/
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 700px !important;
    }
    .height-same{
        height: 450px;
    }
    .button-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }

    .about-product {
        height: 700px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 47% !important;
        border-radius: 0px !important;
        float: left;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .about-product {
        height: 845px!important;
    }
    .product img{
        height: 600px!important;

    }
    .product-height{
        height: 380px!important;
    }
    .food1 img {
        height: 250px!important;
    }


    .product-color img{
        height:350px!important;
    }
    .product-color{
        height:350px!important;

    }

    .same-height img{
        height: 500px!important;
    }

}

@media screen and (min-width:481px) and (max-width: 520px){
    .lead1{
        font-size:10px !important;
        margin-top: 15%!important;
        margin-bottom: -10px!important;

    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top:2%!important;
        left:51px!important;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100%!important;
        height:300px!important;
    }
    .coverUp img{
        width: 580px !important;
        height: 230px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }

    .food1 img {
        height: 300px!important;
    }
    .height-img{
        height: 306px;
    }
    .w3lsshoesaits-info{
        top: 10%;
    }
    .boxsize-small{
        margin-top: 30px;
    }

}
@media screen and (min-width:521px) and (max-width: 568px){
    .mainImage-height{
        width: 508px!important;
    }
.img-thumb{
    width: 145px!important;
}
    .smallAbout img{
        height: 360px!important;
        width:545px!important;
    }

    .lead1{
        font-size:9px !important;
        margin-top: -17%!important;
        margin-bottom: -18px!important;

    }
    .wthreeshop-a a {
        margin-top: -12%;
        padding: 0px 0px!important;
        border: 1px solid #FFF !important;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top:32%!important;
        left:137px!important;
        height: 107px!important;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100%!important;
        height:300px!important;
    }
    .coverUp img{
        width: 580px !important;
        height: 300px !important;

    }
    .coverDown img{
        height: 300px !important;
        width: 580px !important;
    }
    .product img{
        width: 360px!important;
        height: 700px!important;
    }
    .food1 img {
        height: 300px!important;
    }
    .product-height{
        height: 450px!important;
    }


    .height-img{
        height: 500px!important;
    }
    .same-height img{
        height: 600px!important;
    }
    .w3lsshoesaits-info{
        top: 10%;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .product-color img{
        height:400px!important;
    }

    .product-color{
        height:400px!important;

    }
}
@media screen and (min-width:569px) and (max-width: 640px){
    .lead1{
        font-size:10px !important;
        margin-top: 15%!important;
        margin-bottom: -10px!important;

    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top:2%!important;
        left:51px!important;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100%!important;
        height:300px!important;
    }
    .coverUp img{
        width: 580px !important;
        height: 230px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }

    .food1 img {
        height: 300px!important;
    }
    .height-img{
        height: 306px;
    }
    .w3lsshoesaits-info{
        top: 10%;
    }
    .boxsize-small{
        margin-top: 30px;
    }

}

@media screen and (min-width: 641px) and (max-width: 660px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 600px !important;
    }
    .product-img{
        height: 490px;
    }
    .screen1{
        padding-top: 20px;
    }
    .box-text{
        white-space: nowrap;
        width: 22em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .middle1{
        left:-240px;
        width: 100%;
        top: 5%;
    }
    .sildeshow1 {
        height: 240px;
    }
    .height-img{
        height: 365px;
    }
    .contact-img{
        height: 270px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
}
@media screen and (min-width: 661px) and (max-width: 700px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 600px !important;
    }
    .product-img{
        height: 490px;
    }
    .screen1{
        padding-top: 20px;
    }
    .box-text{
        white-space: nowrap;
        width: 22em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .middle1{
        left:-240px;
        width: 100%;
        top: 5%;
    }
    .sildeshow1 {
        height: 240px;
    }
    .height-img{
        height: 365px;
    }
    .contact-img{
        height: 270px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
}
@media screen and (min-width: 701px) and (max-width: 725px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 600px !important;
    }
    .product-img{
        height: 490px;
    }
    .screen1{
        padding-top: 20px;
    }
    .box-text{
        white-space: nowrap;
        width: 22em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .middle1{
        left:-240px;
        width: 100%;
        top: 5%;
    }
    .sildeshow1 {
        height: 240px;
    }
    .height-img{
        height: 365px;
    }
    .contact-img{
        height: 270px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
}

@media screen and (min-width: 726px) and (max-width: 768px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 600px !important;
    }
    .product-img{
        height: 490px;
    }
    .smallAbout img{
        height: 250px!important;
        width:385px!important;
    }
    .about-img{
        height: 598px !important;
    }
    .screen1{
        padding-top: 20px;
    }
    .box-text{
        white-space: nowrap;
        width: 22em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .middle1{
        left:-52px!important;
        width: 50%!important;
        top: 15%!important;
        height: 184px!important;
    }
    .height-img{
        height: 365px;
    }
    .contact-img{
        height: 270px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .coverUp img {
        height: 405px!important;
        width: 1108px!important;
    }
    .coverDown img{
        height: 405px!important;
        width: 1108px!important;
    }
    .product img{
        width: 360px!important;
        height: 400px!important;
    }
    .food1 img {
        height: 370px!important;
    }

    .product-height{
        height: 500px!important;
    }
    .same-height{
        height: 500px!important;

    }

    .product-color img{
        height:320px!important;
    }

    .product-color{
        height:320px!important;

    }
    .about-product{
        height: 640px!important;
        width: 345px!important;
    }
    .product img{
        width: 360px!important;
    }
    .height-img{
        height: 500px!important;
    }
    .lead1{
             font-size:16px !important;
             margin-top: -8%!important;
             margin-bottom: -12px!important;

         }
.lead2{
    font-size: 10px!important;
}
}

@media screen and (min-width: 769px) and (max-width: 855px) {
    .coverUp img {
        height: 300px!important;
        width: 1108px!important;
    }
    .coverDown img{
        height: 300px!important;
        width: 1108px!important;
    }
       .smallAbout img{
        height: 250px!important;
        width:385px!important;
    }

    .wthreeshop-a {
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .food1 img {
        height: 270px!important;
    }
    .product-height{
        height: 400px!important;
    }
    .lead1{
        font-size:16px !important;
        margin-top: 7%!important;
        margin-bottom: -18px!important;

    }
    .product img{
        width: 450px!important;
    }
    .agileinfonewsl {
        width: 100% !important;
        height: 800px !important;
    }

    .middle1{
        top:13% !important;
        left: -65px!important;
        height: 185px!important;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .product-color img{
        height:300px!important;
    }

    .product-color{
        height:300px!important;

    }

.same-height img{
    height: 400px!important;
}

}

@media screen and (min-width: 856px) and (max-width: 961px) {
    .smallAbout img{
        height: 250px!important;
        width:385px!important;
    }
    .same-height img{
        height: 400px!important;
    }

    .wthreeshop-a {
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .food1 img {
        height: 240px!important;
    }
    .lead1{
        font-size:16px !important;
        margin-top: 7%!important;
        margin-bottom: -18px!important;

    }
    .product img{
        width: 450px!important;
    }
    .agileinfonewsl {
        width: 100% !important;
        height: 800px !important;
    }

    .middle1{
        top:13% !important;
        left: -65px!important;
        height: 185px!important;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .product-color img{
        height:300px!important;
    }

    .product-color{
        height:300px!important;

    }

    .same-height img{
        height: 350px!important;
    }


}
@media screen and (min-width: 962px) and (max-width: 1024px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 800px !important;
    }
    .slideshow1{
        height: 370px!important;
    }
    .middle1{
        top:13% !important;
        left: -65px;
    }
    .price ul li:nth-child(1) {
        font-size: 25px;
    }
    .product-color img{
        height:180px!important;
    }

    .product-color{
        height:180px!important;

    }

}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 800px !important;
    }

    .middle1{
        top:13% !important;
        left: -65px;
    }
    .price ul li:nth-child(1) {
        font-size: 25px;
    }
    .product-color img{
        height:180px!important;
    }

    .product-color{
        height:180px!important;

    }

}