.food1 img {
    height: 235px;
    width: 100%;
}

.wthreeshop-a {
    margin-top: 30px;
    padding-bottom: 10px;
}
.wthreeshop-a a {
    padding: 10px 50px;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.product-img{
    height: 620px;
    width: 100%;
}
.ribbon{
    z-index:0 !important;
}
.img-about{
    height:355px;
    width:100%;
}
.box-height{
    height:400px;
}
.product-color{
    height:240px;
}
/*.product-color img{*/
    /*height: 238px;*/
/*}*/
.same-height{
    height: 405px;
}
.height-same{
    height: 600px;
}
.about-background{
    margin-bottom: 40px;
}
.price ul li {
    font-size: 16px;
    line-height: 40px;
    display: block;
    color: #000;
}
.lead1{
    white-space: nowrap;
    /*width: 17em;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.lead2{
    white-space: nowrap;
    /*width: 21em;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainImage-height{
    height: 597px;
}
.price ul li:nth-child(1) {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.pannel-tab .panel-heading {
    padding: 15px;
    border: none;
    color: #FFF;
    border-radius: 0;
}
.quote1{
    padding: 0 !important;
}
.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /*background: rgba(0, 0, 0, 0.75);*/
}
.thumb{
    height: 167px;
}
.img-thumb{
    height: 163px;
}
.middle1 {
    position: absolute;
    top: 20%;
    left: -75px;
    background: rgba(255, 255, 255, 0.22);
    width:50%;
    word-break: keep-all;
}
.agileinfonewsl {
    /*background-image: url("../../imagess/yamsaa/newsletter.jpg");*/
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 600px;
    width: 1110px;
}
.text1 {
    font-family: 'Sintony', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 16px 32px;
}
/*#content{*/
    /*padding-top: 110px;*/
/*}*/
.product-height{
    height: 372px;
}
.flip-height{
    height: 241px;
}
.all{
    padding: 70px;
}
.menu2 {
    /*height:2em;*/
    /*position:absolute;*/
    width:100%;
    z-index: 6;
}
.fixed {
    position:fixed;
    top:0;
}
.product:hover{
    box-shadow: 0 0 5px #888888;
}
.front-img{
    height: 360px;
    width: 539px;
}
#content .product .text del.del-price{
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
.sildeshow1{
    height: 370px;
}
.panel-heading a{
    color:#FFFFFF;
    outline:0 !important;
    text-decoration: none;
}
.panel-heading a:focus a:hover a:active{
    color:#FFFFFF;
    outline: 0 !important;
    text-decoration: none;
}
.w3lsshoesaits-info h3 {
    font-size: 50px;
    color: #FFF;
    text-shadow: 3px 3px #c41228;
}
.w3lsshoesaits-info p {
    width: 50%;
    line-height: 25px;
    color: #FFF;
    margin: 30px auto;
}
.img-texts{
    position: relative;
    height: 500px;
    width: 100%;
}
.w3lsshoesaits-info{
    position: absolute;
    top: 20%;
    text-align: center;
    left: 10%;
}
.height-img{
    height: 500px;
}
.quote img{
    height:600px;
    width: 525px;
}
.agilenwew3lsfashions {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
    text-align: center;
    color: #FFF;
}
.coverUp img {
    height: 520px;
    width: 1138px;
}
.about-product{
    height: 857px;
}
.food1-img{
    width: 100%;
}
.contact-img{
    width: 100%;
    height: 390px;
}
.contact-email{
    word-break: break-all;
}
.name4{
    width: 32% !important;
    border-radius: 0px !important;
    float: left;
    margin-left: 50px;
}
@media screen and (max-width:320px){

    /*#content {*/
        /*padding-top: 115px;*/
    /*}*/
    .box-height{
        height: 480px;
    }
    .text1{
        padding: 6px 9px;
    }
    .price ul li:nth-child(1) {
        font-size: 30px;
    }
    .mainImage-coverDown{
        height:355px;
        width: 100%;
    }
    .lead1{
        font-size:10px !important;
        margin-top: -10%!important;
        margin-bottom: -10px!important;
    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top: 18% !important;
        left: 4px !important;
        height: 75px;
        width: 100%;
    }
    .shop-button{
        margin-top:0px !important;
    }
    .sildeshow1{
        height: auto;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;
    }
    .imgage-nomargin{
        height: 86px;
    }
    .agileinfonewsl{
        width: 260px!important;
        height:300px!important;
    }
    .coverUp img{
        height: 120px !important;
        width: 260px !important;

    }
    .coverDown img{
        height: 120px !important;
        width: 260px !important;
    }
    /*.food1 img {*/
        /*height: 300px!important;*/
    /*}*/
    .product-img{
        height: 390px;
    }
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 280px !important;
    }
    .height-same{
        height: 450px;
    }
    .product-height {
        height: 435px;
    }
    .wthreeshop-a a{
        font-size: 7px;
    }
    .wthreeshop-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0px;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }
    .height-img{
        height: 200px;
    }
    .img-texts{
        height: 200px;
    }
    .about-product{
        height: 645px;
    }
    .text-margin{
        margin-top: -50px;
    }
    .mainImage-height {
        height: 355px;
        width: 100%;
    }
    .thumb{
        height:110px;
    }
    .img-thumb{
        height:106px;
    }
    .food1-img{
        height:170px !important;
        width: 100%;
    }
    .product-color{
        height: 172px;
    }
    .sub-flipperHeight{
        height:225px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 55%;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 321px) and (max-width:480px){
    .sildeshow1 {
        height: 120px;
    }
    .wthreeshop-a a{
        padding: 0 !important;
        font-size:14px;
    }
    .box-height{
        height: 425px;
    }
    .product-img{
        height: 450px;
    }
    .lead1{
        font-size:10px !important;
        margin-top: -8%!important;
        margin-bottom: -10px!important;
    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top:10%!important;
        left:10px!important;
        width: 100%;
    }
    .wthreeshop-a{
        margin-top: 0px;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100% !important;
        height:300px!important;
    }
    .coverUp img{
        width: 420px !important;
        height: 165px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }
    /*.food1 img {*/
        /*height: 300px!important;*/
    /*}*/
    .small-screen{
        padding-top: 20px;
    }
    .about-img{
        height: 280px !important;
    }
    .height-same{
        height: 450px;
    }
    .button-a{
        margin-top: -20px;
    }
    .w3lsshoesaits-info{
        top: 0;
    }
    .w3lsshoesaits-info h3 {
        font-size: 16px;
    }
    .w3lsshoesaits-info p {
        line-height: 25px;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        width: 18em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.a-buttonsize{
        font-size: 10px!important;
    }
    .height-img{
        height: 142px;
    }
    .about-product {
        height: 700px;
    }
    .contact-img{
        height: 240px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
    .name4{
        width: 47% !important;
        border-radius: 0px !important;
        float: left;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .food1 img {
        height: 300px;
    }
    .product-height{
        height: 430px;
    }
}
@media screen and (min-width:481px) and (max-width: 640px){
    .lead1{
        font-size:10px !important;
        margin-top: 15%!important;
        margin-bottom: -10px!important;

    }
    .lead2{
        font-size: 8px!important;
    }
    .middle1{
        top:2%!important;
        left:51px!important;
    }
    .subButton{
        margin-top: -27px!important;
        font-size: 6px!important;

    }
    .agileinfonewsl{
        width: 100%!important;
        height:300px!important;
    }
    .coverUp img{
        width: 580px !important;
        height: 230px !important;

    }
    .coverDown img{
        height: 150px !important;
        width: 420px !important;
    }

    .food1 img {
        height: 300px!important;
    }
    .height-img{
        height: 306px;
    }
    .w3lsshoesaits-info{
        top: 10%;
    }
    .boxsize-small{
        margin-top: 30px;
    }

}
@media screen and (min-width: 641px) and (max-width: 768px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 600px !important;
    }
    .product-img{
        height: 490px;
    }
    .screen1{
        padding-top: 20px;
    }
    .box-text{
        white-space: nowrap;
        width: 22em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .middle1{
        left:-240px;
        width: 100%;
        top: 5%;
    }
    .sildeshow1 {
        height: 240px;
    }
    .height-img{
        height: 365px;
    }
    .contact-img{
        height: 270px;
    }
    .boxsize-small{
        margin-top: 30px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .agileinfonewsl {
        width: 100% !important;
        height: 800px !important;
    }
    .slideshow1{
        height: 250px;
    }
    .middle1{
        top:0 !important;
        left: -65px;
    }
}